#footer-nav {
  background-color: $white;
  box-shadow: 0 0px 21px -5px rgba(0,0,0,.35);
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  z-index: 10;

  a {
    padding: 5px;
    text-decoration: none;
    text-align: center;
    width: 100%;

    img {
      display: block;
      margin: 0 auto 4px;
    }
  }

  ul {
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    padding: 5px;
    width: 100%;

    li {
      flex: 1;
    }
  }
}