aside#mobile-menu {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0; top: 0;
  transform: translateX(-$menu-width);
  transition: all .3s;
  width: $menu-width;
  z-index: 10;

  & > span {
    display: inline-block;
    padding: 15px;
  }

  ul {
    li {
      a {
        padding: 15px;
        text-decoration: none;
      }
    }
  }

  &.open {
    box-shadow: 10px 31px 44px -39px rgba(0,0,0,0.75);
    transform: translateX(0);

    & + #wrapper {
      overflow-y: hidden;
      transform: translateX($menu-width);
    }
  }
}



#wrapper {
  header {
    background-color: $white;
    padding: 5px 10px;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 10;

    ul {
      display: flex;
      width: 100%;

      li {
        align-items: center;
        display: flex;

        button {
          align-items: center;
          display: flex;
          padding: 5px;

          &#back {
            font-size: 16px;

            img {
              margin-right: 16px;
            }

          }

          &#new {
            align-items: center;
            background-color: $dark-gray;
            border-radius: 50%;
            color: $white;
            display: flex;
            font-size: 14px;
            height: 30px;
            justify-content: center;
            width: 30px;
          }
        }

        &:nth-child(2) {
          flex-grow: 2;
        }
      }

      li:nth-child(2) {
        flex-grow: 2;
      }
    }
  }
}