html, body {
  overflow-x: auto;
  overflow-y: hidden;

  *,*:before,*:after {
    box-sizing: border-box;
    color: $text;
    font-family: 'Roboto';
  }
}

body {
  display: flex;
  font-size: 14px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

a, button {
  background-color: transparent;
  border: 0;
  color: $text;
  display: inline-block;
  outline: 0;

  img {
    pointer-events: none;
  }
}

button {
  padding: 5px;
}

label {
  margin-bottom: 8px;
}

input,
select,
textarea {
  background-color: $white;
  border: 0;
  border-radius: 0;
  outline: 0;
  padding: 6px 12px;
  width: 100%;
}

ul {
  &.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.color-primary { color: $primary; }

#wrapper {
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 65px 0 76px 0;
  transition: all .3s;
  width: 100%;

  main {
    div.loader {
      text-align: center;
    }
  }
}

#filter-nav {
  margin-bottom: 5px;
  position: relative;
  z-index: 1;

  #filter-bar {
    align-items: center;
    background-color: $light-gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    z-index: 1;
  }

  #filter-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px;
    padding: 5px;

    li {
      padding: 3px;
    }
  }

  #filter-form {
    background-color: $light-gray;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    padding: 10px;
    position: absolute;
    top: 100%; left: 0;
    transform: translateY(-100%);
    transition: all .4s;
    width: 100%;
    z-index: 0;

    label {
      padding: 5px;
      width: 50%;

      strong {
        display: block;
        margin-bottom: 3px;
      }

      &:last-child {
        width: 100%;
      }
    }

    &.open {
      transform: translateY(0);
    }
  }
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  figure {
    background-color: $white;
    font-size: 14px;
    margin: 5px 0;
    max-width: 480px;
    padding: 20px 20px;
    width: 100%;

    h4 {
      font-size: 20px;
      font-weight: normal;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 5px;
    }
    .tags {
      font-size: 12px;
      font-style: italic;
      font-weight: bold;
      margin-bottom: 14px;
    }

    figcaption {
      footer {
        align-items: center;
        display: flex;
        justify-content: space-between;

        p {
          font-size: 13px;
        }

        .date {
          font-size: 12px;
          font-weight: bold;
        }

        a {
          align-items: center;
          display: flex;
          font-size: 12px;
          font-style: italic;
          font-weight: bold;
          line-height: 1;
          text-decoration: none;

          span {
            color: $primary;

            &:first-child {
              margin-right: 5px;
            }
          }
        }
      }
    }

    @include mq-md() {
      margin: calc(1%/2);
      width: 48%;
    }

    @include mq-lg() {
      width: calc(94%/3);
    }
  }
}